@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src:
		url(https://fonts.gstatic.com/s/materialicons/v67/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
		format('woff2');
}

body {
	background: url(../gfx/pattern-bg.png);
}

* {
	font-family: 'Verdana', sans-serif, sans-serif !important;
	color: black;
	font-size: 10pt;
}

a {
	color: black;
	font-variant: small-caps;
	font-weight: bold;
}

a:active {
	color: black;
}

a:link {
	text-decoration: none;
	color: black;
}

a:hover {
	color: rgb(251, 0, 0);
	font-size: inherit;
}

.main-widget {
	margin-top: 20px;
	border: 1px solid rgb(200, 200, 200);
	height: 80vh;
	padding: 10px;
	box-shadow: 2px -2px 6px 0px #949494;
	background-color: #ffffffb0;
}

.material-icons, i {
	font-family: 'Material Icons' !important;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	border: 1px solid white;
	margin-right: 10px;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
	font-variant: none;
}

fieldset {
	border: 1px solid rgb(200, 200, 200);
	margin-bottom: 20px;
}

legend {
	font-weight: bold;
}

.sub-title {
	text-align: center;
	font-variant: petite-caps;
	background: black;
	color: white;
	margin-bottom: 10px;
	padding: 10px 0;
}

.author::before {
	content: "Author: ";
	font-weight: bold;
}

.email::before {
	content: "E-Mail: ";
	font-weight: bold;
}

.url::before {
	content: "URL: ";
	font-weight: bold;
}

.issues::before {
	content: "Issues: ";
	font-weight: bold;
}

.slicknav_menu {
	background: #fbeec1;
	border-radius: 4px;
	box-shadow: 1px 1px 6px 3px #c7c7c7;
}

.slicknav_brand {
	font-size: 0.8em;
	color: black;
}

.slicknav_brand a {
	font-size: inherit;
}

.slicknav_nav a {
	color: black;
}

.slicknav_nav a:hover, .slicknav_nav .slicknav_row:hover {
	background: white;
	color: black;
}